# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# FPGA (Vivado, Quartus, etc.)
*.bit
*.bin
*.mif
*.sof
*.sdc
*.qpf
*.qsf
*.jou
*.log
*.summary
*.rpt
*.tcl
*.vcd
*.vhw
.sim/
.simvision/
.db/

# Simulation output
*.vvp
*.wlf
*.vcd
*.dump
*.out
*.log

# Ignore large encrypted or raw media files (optional)
*.wav
*.jpg
*.png
*.bmp
*.raw
*.enc
